# Stuff that should not be in git or the npm package
**/node_modules/
.DS_Store
.tmp/
**/*.swp
logs
testchain
.idea
.vscode

# Stuff in Git that should not be in the npm package
src
docs
examples
scripts
**/__tests__/
jest.config.js
tsconfig.tsbuildinfo
tsconfig.json
*.tgz

# Will not package up test contract ABIs
dist/abis
